@model Evid.Models.Spot

<div class="row mb-3">
    <div class="col-10">
        @Html.DropDownListFor(x => x.SpotId, ViewBag.spots as SelectList, "-Selct-", htmlAttributes: new { @class = "form-control mb-2" })
    </div>

    <div class="col-2">
        <a href="#" id="btnDeleteSpot" class="btn btn-danger" style="margin-right:2px;"><i class="fa fa-trash"></i></a>
    </div>

</div>
